<!-- admin_detail.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <title>Admin Information</title>
</head>
<body>
    <div class="container">
    <h2>ADMIN INFORMATION</h2>
    <p>Name: {{ admin.name }}</p>
    <p>Email: {{ admin.email }}</p>
    <p>Contact No: {{ admin.contact_no }}</p>
    <p>Gender: {{ admin.gender }}</p>
    <p>Address: {{ admin.address }}</p>
    <p>Password: {{ admin.password }}</p>
 

    {% comment %} <a href="{% url 'e_hostelite' hostelite.hid %}"><button>Edit Details</button></a> {% endcomment %}
    </div>
</body>
</html>